#if MAKISE_ILI9340_USE == 1
#ifndef ILI9340_H
#define ILI9340_H
#include "spi.h"
#include "gpio.h"

#include "stm32f4xx_hal.h"
#include "ili9340_registers.h"

#include "makise.h"


#define ILI9340_SPI   hspi1
#define ILI9340_CS    GPIOA, GPIO_PIN_2
#define ILI9340_DC    GPIOA, GPIO_PIN_4
#define ILI9340_LED   GPIOC, GPIO_PIN_4
#define ILI9340_RST   GPIOA, GPIO_PIN_3
#define ILI9340_LED_PWM &htim3
#define ILI9340_LED_PWM_CHANNEL TIM_CHANNEL_4
#define ILI9340_LED_USE_PWM 0

#if ILI9340_LED_USE_PWM
#include "stm32f4xx_hal_tim.h"
#include "tim.h"
#endif

void ili9340_driver(MakiseDriver*);

uint8_t ili9340_init (MakiseGUI* gui);
uint8_t ili9340_start(MakiseGUI* gui);
uint8_t ili9340_sleep(MakiseGUI* gui);
uint8_t ili9340_awake(MakiseGUI* gui);
uint8_t ili9340_set_backlight(MakiseGUI* gui, uint8_t);

uint8_t ili9340_spi_txhalfcplt(MakiseDriver* driver);
uint8_t ili9340_spi_txcplt(MakiseDriver* driver);

//void    ili9340_render(MakiseGUI* gui);

uint8_t ili9340_write_data(uint8_t d);
uint8_t ili9340_write_command(uint8_t c);
#endif
#endif
